@{
    ViewBag.Title = "Про нас";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<p>Ми працюємо для Вас з 2010 року.</p>
<p>Головним в нашій роботі є якість, швидкість та індивідуальний підхід до кожного клієнта.</p>