@{
    ViewBag.Title = "Контакти";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Телефони</h3>
    </header>
    <p>
        <span class="label">CDMA:</span>
        <span>(044) 360-16-37</span>
    </p>
    <p>
        <span class="label">МТС:</span>
        <span>(050) 356-16-37</span>
    </p>
    <p>
        <span class="label">Київстар:</span>
        <span>(096) 505-808-9</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Електронна пошта</h3>
    </header>
    <p>
        <span class="label">Інформаційна:</span>
        <span><a href="mailto:info@steli.kiev.ua">info@steli.kiev.ua</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Адреса</h3>
    </header>
    <p>
        Мобільний офіс 
    </p>
</section>