@{
    ViewBag.Title = "Ціни";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<p>
    Натяжні стелі від 160грн/м<sup>2</sup>
</p>

<p>
    Вартість натяжної стелі залежить від:
</p>
<ul>
    <li>Виробника плівки ПВХ (Франція, Німеччина, Китай(Бельгія))
    </li>

    <li>Фактури (Матова, сатинова, лакова, замшева, напівпрозора, металік)
    </li>

    <li>Площі та периметру
    </li>
</ul>

<p>
    На вартість також впливає наявність додакових елементів складності:
</p>
<ul>
    <li>Кількість кутів
    </li>

    <li>Кількість світильників
    </li>

    <li>Криволінійність
    </li>

    <li>Об'ємні фігури
    </li>
</ul>

<p>
    Щоб дізнатись точну вартість натяжної стелі для Вашої кімнати зв'яжіться з нами: @Html.ActionLink("Контакти", "Contact", "Home")
</p>

<p>
    Чим більша площа стелі - тим дешевша вартість одного квадратного метру
</p>